.image-list{
    margin-top:10px;
    display:flex;
    flex-wrap: wrap;
    padding: 2px 16px;

}
.image-card{
    margin-top:10px;
    width:200px;
    height:200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    &.active{
        box-shadow: 0 0 0 0.2rem rgba(17, 125, 5, 0.25);
        border-color: #28a745;
    }
}
.img{
    object-fit: cover;
    width:200px;
    height:200px;
    object-fit: contain;

}